*{box-sizing: border-box;margin:0;padding:0}
body{
	background:#282c34;
	color:#d0d5df;
	font-size: 1.1rem;
	line-height: 1.65;
}
nav{
	background:#111;
	padding-left:50px;
	position:sticky;
	top:0;
}
nav ul{
	list-style: none;
	display:flex;
	flex-wrap: nowrap;
	max-height: 80px;
}
nav ul li {
	display:felx;
	flex-grow: 1;
	align-self: flex-start;
	background: #3c3c3c;
	height: 80px;
	border-left: 1px solid #666;
	border-right: 1px solid #111;
	font-size: 20px;
	line-height: 4em;
	text-align: center;
	cursor: pointer;
}
nav li a{
	display: block;
	width: 100%;
	height:100%;
	color:#eee;
	text-decoration: none;
	font-family: arial;
	font-weight:777;
}
nav li a:hover,nav li a:active{
	color: #135513;
}
nav ul li:hover, .youAreHere {
	height: 90px;
	border-bottom: 1px solid #666;
	background: #bfd255;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	-ms-transition: all 200ms;
	-o-transition: all 200ms;
	transition: all 200ms;
	background: -moz-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd255), color-stop(50%,#8eb92a), color-stop(51%,#72aa00), color-stop(100%,#9ecb2d));
	background: -webkit-linear-gradient(top, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
	background: -o-linear-gradient(top, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
	background: -ms-linear-gradient(top, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
	background: linear-gradient(to bottom, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 );
}

article{
	padding-top:95px;
	width:100%;
	margin:0 auto 90vh auto;
	min-height: 500px;
	
	
}
h2{
	text-align:center;
	color:#139913;
	font-family:Verdana;
}
a{
	color:#d0d5df;
	font-weight:666;
	text-decoration: underline;
	text-decoration-color: #139913;
	
}
p,#source,#codeRunResult{
	max-width: 800px;
	margin:20px auto;
	font-family:Helvetica;
}
#source{
	display:block;
	font-family:'Courier New';
	margin: 0 auto;
	background: #08090b;
	padding: 5px;
	-webkit-border-radius: 4px;
	border-radius: 4px;

}
#source li{
	list-style-position: outside;
}
#runCode{
	padding: 5px;
}
#codeResult{overflow:hidden}

#photoGrid{
	display:flex;
	flex-flow: wrap;
	justify-content: space-evenly;
	align-items:center;
}

#photoGrid img{
	width: 250px;
	align-self:flex-start;

}

.andMore{
	font-size:0.8rem;
	color: #ddd;
}
.keyword{
	color: #139913;
	
}
.codeString{
	
	color: #ff7b72;
}
.codeHelp{
	display:inline-block;
	background: #333;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color:#666;
	font-size:0.7rem;
	margin-right: 3px;
	padding:1px;
	
	
}
.codeLineLevel2{
	display:inline-block;
	padding-left:50px;
	margin-bottom:3px;
}
.codeLineLevel3{
	display:inline-block;
	padding-left:100px;
	margin-bottom:3px;
}